<nav class="navbar navbar-expand-lg bg-success">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="{{ url_for('home')}}">
      <img
        class="d-inline-block align-text-top"
        src="{{ url_for('static', filename='images/muscle.jpg')}}"
        alt="logo"
        width="40"
        height="40"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('anatomy')}}">Anatomy</a>
        </li>
   
<!-- for login and dashboard -->
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('dashboard')}}"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('logout')}}"
            >Logout</a
          >
        </li>
        {% if current_user.id == 1 %}
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('admin')}}"
            >Admin</a
          >
        </li>
        {% endif %}



        {% else %}
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('add_user')}}"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('login')}}"
            >Login</a
          >
        </li>


        {% endif %}

        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('add_workout')}}"
            >Add Workout</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('workouts')}}"
            >Workouts</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('add_post')}}"
            >Add Discussion</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="{{ url_for('posts')}}"
            >Forum</a
          >
        </li>
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <form method="POST" action="{{url_for('search')}}" class="d-flex" role="search">
        {{ form.hidden_tag() }}      <!-- creates our crf token -->
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search" name="searched"
        />
        <button class="btn btn-outline-success text-white" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
